<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@($"/img/{Character.ImageFileName}")" class="img-fluid rounded-start" width="200" height="200"
                alt="Image of @Character.Name">
        </div>
        <div class="col-md-8 d-flex flex-column">
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">@_charName</h5>
                    <div id="scores" class="container">
                        <div class="row">
                            <div class="col-md-2">Str</div>
                            <div class="col-md-2">Dex</div>
                            <div class="col-md-2">Con</div>
                            <div class="col-md-2">Int</div>
                            <div class="col-md-2">Wis</div>
                            <div class="col-md-2">Per</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@Character.Strength.Score</div>
                            <div class="col-md-2">@Character.Dexterity.Score</div>
                            <div class="col-md-2">@Character.Constitution.Score</div>
                            <div class="col-md-2">@Character.Intelligence.Score</div>
                            <div class="col-md-2">@Character.Wisdom.Score</div>
                            <div class="col-md-2">@Character.Personality.Score</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <p class="card-text"><small class="text-muted">Last played: @_lastPlayed</small></p>
                        </div>
                        <div class="col-md-6 text-end">
                            <a href="#">
                                <img src="/img/icons8-trash-can-32.png" class="img-fluid" width="32" height="32"
                                    alt="Delete Character">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="rounded-top-0 btn @_btnCss">
        <h3 class="text-center">@_charName</h3>
    </a>
</div>

@code {
    [Parameter] public int SlotNumber { get; set; }
    [Parameter] public Character Character { get; set; }

    private string _btnCss = string.Empty;
    private string _charName = string.Empty;
    private string _lastPlayed = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Character ??= new Character();
        _btnCss = Character.Name == Data.NewCharacterName ? "btn-primary" : "btn-success";
        _charName = Character.Name == Data.NewCharacterName ? "Create Character" : Character.Name;
        _lastPlayed = Character.LastPlayed?.ToString("g") ?? "Never";
    }
}
