<div class="card mb-3 position-relative">
    <a href="#" class="position-absolute top-0 start-0 m-2" title="Delete Character">
        <img src="/img/icons8-trash-can-32.png" class="img-fluid" width="24" height="24" alt="Delete Character">
    </a>
    <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="@($"/img/portraits/{Character.ImageFileName}")" class="img-fluid rounded" alt="Image of @Character.Name">
        </div>
        <div class="col-md-8 d-flex flex-column">
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">@_charName</h5>
                    <div id="scores" class="container">
                        <div class="row">
                            <div class="col-md-2">Str</div>
                            <div class="col-md-2">Dex</div>
                            <div class="col-md-2">Con</div>
                            <div class="col-md-2">Int</div>
                            <div class="col-md-2">Wis</div>
                            <div class="col-md-2">Per</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@Character.Stats.Strength.Score</div>
                            <div class="col-md-2">@Character.Stats.Dexterity.Score</div>
                            <div class="col-md-2">@Character.Stats.Constitution.Score</div>
                            <div class="col-md-2">@Character.Stats.Intelligence.Score</div>
                            <div class="col-md-2">@Character.Stats.Wisdom.Score</div>
                            <div class="col-md-2">@Character.Stats.Personality.Score</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md text-start">
                            <p class="card-text"><small class="text-muted">Last played: @_lastPlayed</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="rounded-top-0 btn @_btnCss">
        <h3 class="text-center">@_charName</h3>
    </a>
</div>

@code {
    [Parameter] public required int SlotNumber { get; set; }
    [Parameter] public required PlayerCharacter Character { get; set; }

    private string _btnCss = string.Empty;
    private string _charName = string.Empty;
    private string _lastPlayed = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Character ??= new PlayerCharacter();
        _btnCss = Character.Name == Data.NewCharacterName ? "btn-primary" : "btn-success";
        _charName = Character.Name == Data.NewCharacterName ? $"Create New Character {SlotNumber}" : $"Play {Character.Name}";
        _lastPlayed = Character.LastPlayed?.ToString("d MMM yyyy 'at' HH:mm") ?? "Never";
    }
}
